<main class="page__chat">
	<div class="chat">
		<div class="chat-list">
			{{{ ProfileLink }}}
			{{{ Search }}}
			<ul class="chat-list__message">


				{{#chatPayload chats }}

					<li class="message">
						<a class="{{#if (theActiveChat id)}}active{{/if}}" href="chat?id={{id}}">
							<div class="message__circle">
								<div class="message__circle-user">
									{{!-- <img src="{{messageStore.message.url}}" alt="avatar" /> --}}
								</div>
							</div>
						  <div class="message__about">
						    <div class="message__name">{{ title }}</div>
						    <div class="message__text">
						      {{#if last_message}}
						      <span class="message__direction">Вы:</span>
						      {{/if}}
						      {{ last_message }}
						    </div>
						  </div>
						  <div class="message__status">
						    <span class="message__time">{{ created_by }}</span>
						    {{#if unread_count}}
						      <span class="message__amount">{{ unread_count }}</span>
						    {{/if}}
						  </div>
						</a>
					</li>

				{{/chatPayload}}

			</ul>
			<div class="chat__footer">
				{{{
					Button
					class="chat__add-button"
					onClick=onModalAddChat
				}}}
				{{{
					Button
					class="chat__del-button"
					onClick=onModalDelChat
				}}}
			</div>
			{{!-- <div>{{data.title}}</div> --}}
		</div>
	</div>
	{{{ MessagesList messageStore = user }}}

	{{{ actionChatModal type="modalMinusUser"}}}
	{{{ actionChatModal type="modalPlusUser" action=onSubmitAddUser }}}
	{{{ actionChatModal type="modalAddChat" }}}
	{{{ actionChatModal type="modalDelChat" }}}

</main>
