<li class="message">
	<img src="{{url}}" alt="avatar" />
  <div class="message__about">
    <div class="message__name">{{ name }}</div>
    <div class="message__text">
      {{#if myMessage}}
      <span class="message__direction">Вы:</span>
      {{/if}}
      {{ text }}
    </div>
  </div>
  <div class="message__status">
    <span class="message__time">{{ time }}</span>
    {{#if count}}
      <span class="message__amount">{{ count }}</span>
    {{/if}}
  </div>
</li>
