<li class="message">
	<a class="{{#if (theActiveChat messageStore.id)}}active{{/if}}" href="chat?id={{messageStore.id}}" onClick=onClickEventListener>
		<div class="message__circle">
			<div class="message__circle-user">
				{{!-- <img src="{{messageStore.message.url}}" alt="avatar" /> --}}
			</div>
		</div>
	  <div class="message__about">
	    <div class="message__name">{{ messageStore.title }}</div>
	    <div class="message__text">
	      {{#if messageStore.myMessage}}
	      <span class="message__direction">Вы:</span>
	      {{/if}}
	      {{ messageStore.text }}
	    </div>
	  </div>
	  <div class="message__status">
	    <span class="message__time">{{ messageStore.message.time }}</span>
	    {{#if messageStore.message.count}}
	      <span class="message__amount">{{ messageStore.message.count }}</span>
	    {{/if}}
	  </div>
	</a>
</li>
